<!-- sideBard.component.html -->
<div class="h-full p-4 fixed">
  <ul class="space-y-2">
    <li>
      <button
        (click)="onCategorySelect('food')"
        class=" text-left px-4 py-2 rounded-lg w-52 hover:bg-amber-100 transition-colors"
      >
        food
      </button>
    </li>
    <li>
      <button
        (click)="onCategorySelect('item')"
        class=" text-left px-4 py-2 rounded-lg w-52 hover:bg-amber-100 transition-colors"
      >
      item
      </button>
    </li>
    <li>
      <button
        (click)="onCategorySelect('category3')"
        class=" text-left px-4 py-2 rounded-lg w-52 hover:bg-amber-100 transition-colors"
      >
        Category 3
      </button>
    </li>
    <!-- Add more categories as needed -->
  </ul>
</div>
